body{
  color: red;
}
.container {
  width: 850px;
  margin: auto;
}
ul {
  display: flex;
}
button {
  margin: 70px 20px;
}
button {
  width: 200px;
  height: 60px;
  background-color: darkgray;
  border-radius: 10px;
  cursor: pointer;
}
button:hover{
  background-color: orange;
}
li {
  background-color: #adadad;
  color: #fff;
  font-size: 30px;
  flex: 75px;
  display: flex;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  transition: background-color .3s ease;
  cursor: pointer;
  border-radius: 10px;
}
li:hover{
  background-color: orange;
}
h4 {
  font-size: 30px;
  color: black;
}
p {
  font-size: 40px;
  color: blue;
}
h1 {
  color: black;
}
div#question {
  margin-left: 60px;
}
.popup {
  margin-left: 40px;
}
div#submit {
  margin-left: 50px;
}